.env
scratch.yml
docker-configs/lidarr/config
docker-configs/plex/database
docker-configs/plex/config
docker-configs/radarr/config
docker-configs/sonarr/config
docker-configs/transmission/config
docker-configs/duplicati/config
docker-configs/jackett/config
docker-configs/lazylibrarian/config
docker-configs/prometheus/config
docker-configs/homer/assets/tools/sample2.png
docker-configs/homer/assets/tools/sample.png
docker-configs/homer/assets/icons/android-chrome-192x192.png
docker-configs/homer/assets/icons/android-chrome-512x512.png
docker-configs/homer/assets/icons/android-chrome-maskable-192x192.png
docker-configs/homer/assets/icons/android-chrome-maskable-512x512.png
docker-configs/homer/assets/icons/apple-touch-icon-60x60.png
docker-configs/homer/assets/icons/apple-touch-icon-76x76.png
docker-configs/homer/assets/icons/apple-touch-icon-120x120.png
docker-configs/homer/assets/icons/apple-touch-icon-152x152.png
docker-configs/homer/assets/icons/apple-touch-icon-180x180.png
docker-configs/homer/assets/icons/apple-touch-icon.png
docker-configs/homer/assets/icons/favicon-16x16.png
docker-configs/homer/assets/icons/favicon-32x32.png
docker-configs/homer/assets/icons/icon-any.png
docker-configs/homer/assets/icons/icon-any.svg
docker-configs/homer/assets/icons/icon-maskable.png
docker-configs/homer/assets/icons/msapplication-icon-144x144.png
docker-configs/homer/assets/icons/mstile-150x150.png
docker-configs/homer/assets/icons/safari-pinned-tab.svg
docker-configs/grafana/grafana.db
docker-configs/homer/assets/config.yml.dist
docker-configs/homer/assets/config.yml.dist.sample-sui
docker-configs/homer/assets/custom.css.sample
docker-configs/homer/assets/manifest.json
docker-configs/plex-auto-collections/db/config-movie_guid.db
docker-configs/traefik/traefik.log
docker-configs/traefik/acme.json
docker-configs/plex-meta-manager/config.cache
docker-configs/plex-meta-manager/logs
docker-configs/plex-meta-manager/Movies_missing.yml
docker-configs/plex-meta-manager/TV Shows_missing.yml
docker-configs/diun/diun.db
