.env
scratch.yml
docker-configs/alertmanager/config.yml
docker-configs/plex-meta-manager/config.cache
docker-configs/plex-meta-manager/logs
docker-configs/plex-meta-manager/Movies_missing.yml
docker-configs/plex-meta-manager/TV Shows_missing.yml
docker-configs/plex-meta-manager/config.yml
docker-configs/diun/diun.yml
docker-configs/authelia/configuration.yml
docker-configs/authelia/users_database.yml