libraries:
  Movies:
    library_type: movie
  TV Shows:
    library_type: show
settings:
  save_missing: false
  show_missing: false
  cache: true
  cache_expiration: 90
  asset_directory: ./assets
  sync_mode: sync
  show_unmanaged: true
  show_filtered: false
  run_again_delay: 0
  asset_folders: true
  assets_for_all: false
plex:
  token: <replaceme>
  url: http://192.168.4.46:32400
  timeout: 60
tmdb:
  apikey: <replaceme>
  language: en
radarr:
  add: true
  quality_profile: 1080p-bluray
  root_folder_path: /data/8d19a07a-03d5-45f1-85dc-ccd49430f386/data/media/Movies
  search: false
  token: <replaceme>
  url: http://192.168.4.46:7878
  version: v3
  tag:
  monitor: true
  availability: announced
